*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    max-width: 1080px;
    height: 200px;
    color: white;
}

.container{
    background-color: white;
    width: 1080px;
}

header{
    text-align: center;
    width: 80%;
    margin: auto;
}

.title{
    color: blueviolet;
    font-size: 80px;
    font-family: 'Fredoka', sans-serif;
}

.normaltext{
    color: black;
}